absl-py==2.5.0
asttokens==3.0.1
astunparse==1.6.3
certifi==2026.6.17
charset-normalizer==3.4.8
comm==0.2.3
debugpy==1.8.21
decorator==5.3.1
executing==2.2.1
flatbuffers==25.12.19
gast==0.7.0
google-pasta==0.2.0
grpcio==1.82.0
h5py==3.14.0
idna==3.18
ipykernel==7.3.0
ipython==9.15.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
jupyter_client==8.9.1
jupyter_core==5.9.1
keras==3.15.0
libclang==18.1.1
markdown-it-py==4.2.0
matplotlib-inline==0.2.2
mdurl==0.1.2
ml_dtypes==0.5.4
namex==0.1.0
nest-asyncio2==1.7.2
numpy==2.5.1
nvidia-cublas-cu12==12.9.2.10
nvidia-cuda-cupti-cu12==12.9.79
nvidia-cuda-nvcc-cu12==12.9.86
nvidia-cuda-nvrtc-cu12==12.9.86
nvidia-cuda-runtime-cu12==12.9.79
nvidia-cudnn-cu12==9.24.0.43
nvidia-cufft-cu12==11.4.1.4
nvidia-curand-cu12==10.3.10.19
nvidia-cusolver-cu12==11.7.5.82
nvidia-cusparse-cu12==12.5.10.65
nvidia-nccl-cu12==2.30.7
nvidia-nvjitlink-cu12==12.9.86
opt_einsum==3.4.0
optree==0.19.1
packaging==26.2
parso==0.8.7
pexpect==4.9.0
platformdirs==4.10.0
prompt_toolkit==3.0.52
protobuf==7.35.1
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.20.0
python-dateutil==2.9.0.post0
pyzmq==27.1.0
requests==2.34.2
rich==15.0.0
setuptools==83.0.0
six==1.17.0
stack-data==0.6.3
tensorflow==2.21.0
termcolor==3.3.0
tornado==6.5.7
traitlets==5.15.1
typing_extensions==4.16.0
urllib3==2.7.0
wcwidth==0.8.2
wheel==0.47.0
wrapt==2.2.2
